extends base

block vars
	- var title = 'Home'

block body
	div.top
		div.title
			h1 Come on!
	div.main
		p.
			Welcome to my home page!  Please
			<a href="/register">register</a> or <a href="/login">login</a> to continue!
