div.main{
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
}
div.title{
	max-width: 1000px;
	margin: auto;
	padding-top: 30px;
}
div.top{
	box-shadow: inset 0px -10px 50px 30px #fff;
	margin-top: 0px;
	height: 150px;
	background-color: #098741;
}
body{
	margin-right: 100px;
	margin: auto;
}